extends ../layout

block body
  .main(role='main')
    section.page-header.page-header-modern.bg-color-quaternary.page-header-md.custom-page-header
      .container
        .row.mt-3
          .col-md-8.order-2.order-md-1.align-self-center.p-static
            h1 - Corporate Finance
            span.d-block.text-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .col-md-4.order-1.order-md-2.align-self-center
            ul.breadcrumb.d-block.text-md-right.breadcrumb-light
              li
                a(href=l('/')) Home
              li
                a(href=l('/expertise')) Expertise
              li.active Corporate Finance
    .container
      .row.pt-1.pb-4.mb-3
        .col-lg-8
          p.lead.mb-4
            | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.
          p.clearfix
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper.
          .row.pb-4
            .col-lg-4
              ul.list.list-icons.list-icons-style-3.list-tertiary
                li
                  i.fas.fa-chevron-right
                  |  Certified Professionals
                li
                  i.fas.fa-chevron-right
                  |  Former Chief Executives
            .col-lg-4
              ul.list.list-icons.list-icons-style-3.list-tertiary
                li
                  i.fas.fa-chevron-right
                  |  Real Estate Professionals
                li
                  i.fas.fa-chevron-right
                  |  Chartered Financial Analysts
            .col-lg-4
              ul.list.list-icons.list-icons-style-3.list-tertiary
                li
                  i.fas.fa-chevron-right
                  |  Nobel Laureate Economists
                li
                  i.fas.fa-chevron-right
                  |  Former Political Leaders
          p
            | Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.
          #accordion7.accordion.without-bg.custom-accordion-style-1.pt-4.pb-4
            .card.card-default
              .card-header
                h4.card-title.m-0
                  a.accordion-toggle(data-toggle='collapse' data-parent='#accordion7' href='#collapse7One' aria-expanded='true')
                    | Praesent sit amet quam a lorem commodo tincidunt.
                    span.custom-accordion-plus
              #collapse7One.collapse.show(aria-expanded='true')
                .card-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.
            .card.card-default
              .card-header
                h4.card-title.m-0
                  a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#accordion7' href='#collapse7Two' aria-expanded='false')
                    | Integer ac elit id est euismod pellentesque.
                    span.custom-accordion-plus
              #collapse7Two.collapse(aria-expanded='false' style='height: 0px;')
                .card-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.
            .card.card-default
              .card-header
                h4.card-title.m-0
                  a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#accordion7' href='#collapse7Three' aria-expanded='false')
                    | Cras interdum neque sit amet justo maximus, ut sollicitudin eros.
                    span.custom-accordion-plus
              #collapse7Three.collapse(aria-expanded='false' style='height: 0px;')
                .card-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.
            .card.card-default
              .card-header
                h4.card-title.m-0
                  a.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#accordion7' href='#collapse7Four' aria-expanded='false')
                    | Pellentesque in ex molestie, convallis nulla ut, ornare erat.
                    span.custom-accordion-plus
              #collapse7Four.collapse(aria-expanded='false' style='height: 0px;')
                .card-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.
          p
            | Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.
        .col-lg-4
          img.img-fluid.mb-4(src=manifest('img/demos/business-consulting/cases/case-4.jpg') alt='')
          h4.font-weight-bold.text-color-dark.mt-3 - Our Strategy
          .owl-carousel.owl-theme.nav-bottom.rounded-nav.numbered-dots.pl-1.pr-1(data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}")
            div
              .custom-step-item
                span.step.text-uppercase
                  | Step
                  span.step-number.text-color-primary
                    | 01
                .step-content
                  h4.mb-4
                    | The first meeting
                    br
                    strong Understanding the Problem
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.
            div
              .custom-step-item
                span.step.text-uppercase
                  | Step
                  span.step-number.text-color-primary
                    | 02
                .step-content
                  h4.mb-4
                    | The second meeting
                    br
                    strong Business Plan Consultant
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.
            div
              .custom-step-item
                span.step.text-uppercase
                  | Step
                  span.step-number.text-color-primary
                    | 03
                .step-content
                  h4.mb-4
                    | The final meeting
                    br
                    strong Problem Solved
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.
    section.section.section-text-light.section-background.m-0(style="background: url('../../img/demos/business-consulting/contact/contact-background.jpg'); background-size: cover;")
      .container
        .row.justify-content-md-center
          .col-lg-6.mb-5.mb-lg-0
            h2.font-weight-bold - Contact Us
            p.custom-opacity-font
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper.
            .row
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Call Us
                a.text-decoration-none(href='tel:+1234567890' target='_blank' title='Call Us')
                  span.custom-call-to-action-2.text-color-light.text-2.custom-opacity-font
                    | Phone
                    span.info.text-5
                      | 123-456-7890
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Our Location
                p.custom-opacity-font Porto Business Consulting 123 Porto Blvd, Suite 100 New York, NY
            .row
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Mail Us
                a.text-decoration-none(href='mail:mail@example.com' target='_blank' title='Mail Us')
                  span.custom-call-to-action-2.text-color-light.text-2.custom-opacity-font
                    | Email
                    span.info.text-5
                      | mail@example.com
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Social Media
                ul.social-icons.social-icons-clean.custom-social-icons-style-1.mt-2.custom-opacity-font
                  li.social-icons-facebook
                    a(href='http://www.facebook.com/' target='_blank' title='Facebook')
                      i.fab.fa-facebook-f
                  li.social-icons-twitter
                    a(href='http://www.twitter.com/' target='_blank' title='Twitter')
                      i.fab.fa-twitter
                  li.social-icons-instagram
                    a(href='http://www.instagram.com/' target='_blank' title='Instagram')
                      i.fab.fa-instagram
                  li.social-icons-linkedin
                    a(href='http://www.linkedin.com/' target='_blank' title='Linkedin')
                      i.fab.fa-linkedin-in
          .col-lg-6.custom-sm-margin-top
            h2.font-weight-bold - Write Us
            form#contactForm.contact-form.custom-contact-form-style-1(action='php/contact-form.php' method='POST')
              #contactSuccess.contact-form-success.alert.alert-success.d-none.mt-4
                strong Success!
                |  Your message has been sent to us.
              #contactError.contact-form-error.alert.alert-danger.d-none.mt-4
                strong Error!
                |  There was an error sending your message.
                span#mailErrorMessage.mail-error-message.text-1.d-block
              input(type='hidden' name='subject' value='Contact Message Received')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-user.icons.text-color-primary
                    input#name.form-control(type='text' value='' data-msg-required='Please enter your name.' maxlength='100' name='name' placeholder='Name*' required='')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-envelope.icons.text-color-primary
                    input#email.form-control(type='email' value='' data-msg-required='Please enter your email address.' data-msg-email='Please enter a valid email address.' maxlength='100' name='email' placeholder='Email*' required='')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-bubble.icons.text-color-primary
                    textarea#message.form-control(maxlength='5000' data-msg-required='Please enter your message.' rows='10' name='message' placeholder='Message*' required='')
              .form-row
                .form-group.col
                  input.btn.btn-outline.custom-border-width.btn-primary.custom-border-radius.font-weight-semibold.text-uppercase(type='submit' value='Submit Now' data-loading-text='Loading...')
