extends layout

block body
  .main(role='main')
    section.page-header.page-header-modern.bg-color-quaternary.page-header-md.custom-page-header
      .container
        .row.mt-3
          .col-md-8.order-2.order-md-1.align-self-center.p-static
            h1 - 404
            span.d-block.text-4 404 - Page Not Found
          .col-md-4.order-1.order-md-2.align-self-center
            ul.breadcrumb.d-block.text-md-right.breadcrumb-light
              li
                a(href=l('/')) Home
              li.active Page
    .container
    br
    br
    br
    section.http-error
      .row.justify-content-center.py-3
        .col-md-7.text-center
          .http-error-main
            h2 404!
            p We&apos;re sorry, but the page you were looking for doesn&apos;t exist.
        .col-md-4.mt-4.mt-md-0
          h4.text-primary Here are some useful links
          ul.nav.nav-list.flex-column
            li.nav-item
              a.nav-link(href=l('l')) Home
            li.nav-item
              a.nav-link(href=l('/about')) About Us
            li.nav-item
              a.nav-link(href='#') FAQ&apos;s
            li.nav-item
              a.nav-link(href='#') Sitemap
            li.nav-item
              a.nav-link(href='#') Contact Us
    br
    br
    br
    br
    br
    br
    br
